<p id="notice"><%= notice %></p>

<%= form_tag(enrollments_path, method: "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.section.course.number %></td>
        <td><%= enrollment.student.name %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/><div id="results"></div>

<script>
    var QueryURL = "http://localhost:3000/enrollments/search.json?query=";
    var ResultsDiv = "results";
    var Field = "name";
    var QueryTag = "query";
</script>
<br>

<script type="text/javascript" src="/public/javascripts/AJAXSearch.js"></script>


<%= link_to 'New Enrollment', new_enrollment_path %>

