<!DOCTYPE html>
<html>
  <head>
    <title>UniApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <tr>
    <td><%= link_to 'Course', courses_path %></td>
    <td><%= link_to 'Section', sections_path %></td>
    <td><%= link_to 'Student', students_path %></td>
    <td><%= link_to 'Enrollment', enrollments_path %></td>

  </tr>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
